.img-logo {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.text-page {
	color: #acd839;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.text-page h2 {
	margin-top: 0px;
	font-size: 50px;
	color: #f8a71a;
}

.text-page h2 span {
	color: #acd839;
	font-size: 25px;	
}

.fa {
	font-size:48px;
	margin-left: 15px;
	color: #f8a71a;
}

.ico {
	width: 24px;
	margin-right: 15px;
}

.contato {
	color: #acd839;
	text-decoration: none;
}